@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&display=swap');

:root {
    --primary: #D9CDF7;

    --text: #271A45;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary);
    color: var(--text);
    font-family: 'Lato', sans-serif;
}

.product {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    position: relative;
    margin-right: 0.9375em;
}

.product-image #sofa {
    width: 450px;
    height: 255px;
}

.product-image #icon {
    position: absolute;
    right: 60px;
    top: 10px;
}

.product-info {
    margin-bottom: 1.25em;
}

.product-info p {
    font-weight: 300;
    font-size: 0.625em;
    margin-bottom: 0.75em;
}

.product-info h1 {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 2em;
    margin-bottom: 0.75em;
}

.product-info span {
    font-weight: 400;
    font-size: 1em;
    opacity: .6;
}

.btn-cart button {
    background: none;

    border: 0.5px solid var(--text);
    border-radius: 100px;
    padding: .5em 1em;

    font-weight: 400;
    font-size: 0.75em;
    line-height: 1em;
}

button:hover, #icon:hover {
    cursor: pointer;
}

@media (max-width: 42rem) {
    .wrapper {
        flex-direction: column;
    }
}